<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Dungeon252</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/champ">Champion's Room</a></li>
        </div>
    </div>
</nav>