<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url("https://pre00.deviantart.net/4cc1/th/pre/i/2015/073/5/3/the_throne_room_by_znodden-d8lnuqz.png");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <p align="center">
            <b>
            The Trials Are Rough,<br>
            But There Is An End.<br>
            All Who Are Shown Here<br>
            Have Defeated Room Ten<br>
            </b>
        </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>