<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url('images/final/room10.jpg');
            background-size: cover;
            height:800px;
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: horizontal;
        }
        h1 {
            color: gray();
            font-size: 20px;
            margin-right: 400px;
            margin-left: 400px;
            background-image: url('images/extras/scroll4.png');
            background-repeat: no-repeat;
            font-family: "Apple Chancery";
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <h1 align="center">
            <br><b>
            The Trials Are Rough,<br>
            But There Is An End.<br>
            All Who Are Shown Here<br>
            Have Defeated Room Ten<br>
            </b><br><br>
        </h1>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>