<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url("https://pre00.deviantart.net/4cc1/th/pre/i/2015/073/5/3/the_throne_room_by_znodden-d8lnuqz.png");
            background-size: cover;
            height:800px;
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: horizontal;
        }
        h1 {
            color: #757575;
            font-size: 24px;
            margin-right: 400px;
            margin-left: 400px;
            background-color: darkgray;
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <h1 align="center">
            <b>
            The Trials Are Rough,<br>
            But There Is An End.<br>
            All Who Are Shown Here<br>
            Have Defeated Room Ten<br>
            </b>
        </h1>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>