<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        h1 {
            color: #757575;
            font-size: 36px;
            background-color: darkgray;
            margin-right: 325px;
            margin-left: 325px;
        }

    </style>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <br>
        <h1 align="center">
            You fought valiantly but have fallen during your journey through the dungeon.
            Do you have the strength to try again?
        </h1><br>
        <form align="center" class="form-horizontal" action="/">
            <input value="Return Home" type="submit" class="btn btn-danger">
        </form>
    </div>
</main>
</body>
</html>