<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url("http://zonadocomando.com/wp-content/uploads/2016/03/EN_Innistrad_Header.jpg");
            background-size: cover;
            height:800px;
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: horizontal;
        }
        h1 {
            color: gray();
            font-family: "Apple Chancery";
            font-size: 32px;
            background-image: url('images/extras/old_scroll.png');
            background-repeat: no-repeat;
            margin-right: 340px;
            margin-left: 340px;
        }
    </style>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <br>
        <h1 align="center">
            <br>You fought valiantly but have fallen during your journey through the dungeon.
            Do you have the strength to try again?<br><br><br>
        </h1><br>
        <form align="center" class="form-horizontal" action="/">
            <input value="Return Home" type="submit" class="btn btn-danger">
        </form>
    </div>
</main>
</body>
</html>