<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url('https://i.ytimg.com/vi/Vxv8Te1s3dc/maxresdefault.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: #757575;
            font-size: 24px;
            background-color: darkgray;
            margin-right: 400px;
            margin-left: 400px;
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <h1 align="center">
          <b>Welcome to Dungeon252.<br>
              Please enjoy your stay!</b>
        </h1>
        <h1>
        <form align="center" class="form-horizontal" action="/start">
            <label for="hero">Your Hero: </label>
            <input id="hero" type="text" name="hero" placeholder="Enter your hero name" required><br>
            <input value="Enter the Dungeon" type="submit" class="btn btn-danger">
        </form>
        </h1>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>