<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <p>
          Welcome to Dungeon252.
            Please enjoy your stay!
        </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>