<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/36/68/5e/36685e1f9923269baacab9a79383943d.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: darkgray;
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <p align="center">
          <b>Welcome to Dungeon252.<br>
              Please enjoy your stay!</b>
            <br>
            <br>
        <form align="center" class="form-horizontal" action="/start">
            <label for="hero">Your Hero: </label>
            <input id="hero" type="text" name="hero" placeholder="Enter your Hero name." required><br>
            <input value="Enter the Dungeon" type="submit" class="btn btn-danger">
        </form>
        </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>