<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Room 1</font>
        </p><br>
        <p align="left">
            <font size="3">Room prompt query here</font>
        </p><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option A" type="submit" class="btn btn-danger">
            <label name="optionA" for="outcomeA">Option A query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option B" type="submit" class="btn btn-danger">
            <label name="optionB" for="outcomeB">Option B query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option C" type="submit" class="btn btn-danger">
            <label name="optionC" for="outcomeC">Option C query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option D" type="submit" class="btn btn-danger">
            <label name="optionD" for="outcomeD">Option D query goes here</label>
        </form><br>

    </div>
</main>
</body>
</html>