<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Hero! Your time has come!</font>
        </p><br>
        <p align="center">
            <font size="4">For decades this Dungeon has stood the test of time, inviting hero after hero within.<br>
            Will you be the first to conquer it? </font>
        </p><br>
        <form align="center" class="form-horizontal" action="/room">
            <input value="Enter the First Room" type="submit" class="btn btn-danger">
        </form>
    </div>
</main>
</body>
</html>