<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/36/68/5e/36685e1f9923269baacab9a79383943d.jpg');
            background-size: cover;
            height:800px;
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: both;
        }
        h1 {
            color: #757575;
            font-size: 36px;
            background-color: darkgray;
            margin-right: 325px;
            margin-left: 325px;
        }
        h2 {
            color: #757575;
            font-size: 24px;
            background-color: darkgray;
            margin-right: 365px;
            margin-left: 365px;
        }
    </style>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <br>
        <h1 align="center">
            Hero! Your time has come!
        </h1><br>
        <h2 align="center">
            For decades this Dungeon has stood the test of time, inviting hero after hero within.<br>
            Will you be the first to conquer it?
        </h2><br>
        <form align="center" class="form-horizontal" action="/room">
            <input value="Enter the First Room" type="submit" class="btn btn-danger">
        </form>
    </div>
</main>
</body>
</html>