<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/36/68/5e/36685e1f9923269baacab9a79383943d.jpg');
            background-size: cover;
            height:800px;
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: both;
        }
        h1 {
            color: #E3C495;
            font-size: 40px;

            font-family: "Bodoni 72 Oldstyle";
            background-position: top;
            background-origin: content-box;
        }
        h2 {
            color: gray();
            font-size: 24px;
            background-image: url('images/extras/scroll2.png');
            background-repeat: no-repeat;

            font-family: "Apple Chancery";
            background-position: top;
            background-origin: content-box;
        }
    </style>
</head>
<body class="container">

<main>
    <div class ="container-fluid">
        <br>
        <h1 align="center">
            <b>Hero! Your time has come!</b>
        </h1>
        <h2 align="center"><br>
            <b>For decades this Dungeon<br> has stood the test of time, <br>inviting hero after hero within.<br>
                Will you be the first to<br> conquer it?</b>
        <br><br>
        </h2>
        <form align="center" class="form-horizontal" action="/room">
            <input value="Enter the First Room" type="submit" class="btn btn-danger">
        </form><br><br><br><br><br>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>